@import '../base.scss';

.chart-wrapper {
  height: 95%;
}

.chart-sunburst {
  path {
    fill: white;
    stroke: black;
  }
}

.arc {
  fill: white;

  &.active,
  &.depth-0 {
    fill: lightblue;
  }
}

.arc-label {
  text-anchor: middle;
  dominant-baseline: central;
}

.sentence {
  text-anchor: middle;
}
